Repository yevheniinise/react-plus-ssr-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0

.lintstagedrc:

{
  "*.{js,scss,css}": [
    "prettier --write",
    "git add"
  ],
  "*.js": [
    "eslint --fix --max-warnings 0",
    "git add"
  ],
  "*.{scss,css}": [
    "stylelint --fix --max-warnings 0",
    "git add"
  ]
}

update README.md
  README.md
Due: none

fix compiling error. add CHANGELOG.md
  CHANGELOG.md
  config/env.js
  config/paths.js
  config/webpack.config.js/client.common.js
  config/webpack.config.js/plugins.js
  config/webpack.config.js/server.common.js
  src/shared/App.js
Due: prettier --write, eslint --fix --max-warnings 0

wrap scripts glob patterns into single quotes
  package.json
Due: none

react-router-dom, file-loader for fonts
  config/webpack.config.js/loaders.js
  package-lock.json
  package.json
  src/client/index.js
  src/server/index.js
  src/shared/App.js
  src/shared/App.scss
  src/shared/components/Header.js
  src/shared/components/Header.scss
  src/shared/fonts/fonts.css
  src/shared/fonts/lora-bold.woff
  src/shared/fonts/lora-bold.woff2
  src/shared/fonts/lora-regular.woff
  src/shared/fonts/lora-regular.woff2
  src/shared/index.scss
  src/shared/pages/About.js
  src/shared/pages/Home.js
  src/shared/styles/variables.scss
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0

small changes
  .eslintignore
  .eslintrc.js
  scripts/start.js
  src/server/html.js
  src/server/index.js
Due: prettier --write, eslint --fix --max-warnings 0

modify stylelint config
  .stylelintrc
  package-lock.json
  package.json
Due: none

npm audit fix
  package-lock.json
Due: none

add react-helmet-async
  README.md
  package-lock.json
  package.json
  src/client/index.js
  src/server/html.js
  src/server/index.js
  src/shared/App.js
Due: prettier --write, eslint --fix --max-warnings 0

remove scss to let it be on-demand configuration option
  .lintstagedrc
  .stylelintrc
  config/webpack.config.js/client.prod.js
  config/webpack.config.js/loaders.js
  package-lock.json
  package.json
  src/shared/App.css
  src/shared/App.js
  src/shared/App.scss
  src/shared/components/Header.js
  src/shared/components/Header.scss
  src/shared/styles/variables.scss
Due: prettier --write, eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0

update packages
  package-lock.json
  package.json
Due: none

change formating rules
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  package.json
  scripts/build.js
  scripts/start.js
  scripts/utils.js
  src/client/index.js
  src/server/html.js
  src/server/index.js
  src/shared/App.js
  src/shared/components/Header.js
  src/shared/pages/About.js
  src/shared/pages/Home.js
  src/shared/store/app.js
  src/shared/store/index.js
  src/shared/store/rootReducer.js
Due: prettier --write, eslint --fix --max-warnings 0

CHANGELOG.md
  CHANGELOG.md
Due: none

1.0.2
  package.json
Due: none

prettify config/
  config/env.js
  config/paths.js
  config/webpack.config.js/client.common.js
  config/webpack.config.js/client.dev.js
  config/webpack.config.js/client.prod.js
  config/webpack.config.js/index.js
  config/webpack.config.js/loaders.js
  config/webpack.config.js/plugins.js
  config/webpack.config.js/server.common.js
  config/webpack.config.js/server.dev.js
  config/webpack.config.js/server.prod.js
  package-lock.json
Due: prettier --write, eslint --fix --max-warnings 0
